doctype
html
   head
      meta(charset='utf8')
      base(href='/')
      title Scrumpoker RT
      link(rel='stylesheet', href='/css/app.css')
      link(rel='stylesheet', href='/css/cards.css')
   body
      h1 ScrumpokerRT.js
      h3 Packaged Version

      p Node.js Application started in the background at port 3000.
      p Open your browser at URL:&nbsp;
         a(href="http://localhost:3000/server/") http://localhost:3000/server/
         span  (or just click link to open in this window)

      p Important: Open server window first, than open client url!

      p Your clients just use:&nbsp;
         b http://localhost:3000/
      p But you have to tell them your IP. For example:&nbsp;
         b http://192.168.1.100:3000/

      p Have fun with ScrumpokerRT.js