extends layout

block body
  body(ng-controller='AppCtrl')
    div.container-fluid
      h1 Scrum Poker RT client
      div(ng-show="!connection")
        a(ng-click="connect()") Connect
      div(ng-show="connection", ng-class="{'cardsLocked': cardsLocked}")
        p(ng-show="cardsLocked") Status: 
          span.round-status Gesperrt
        p(ng-hide="cardsLocked") Status: 
          span.round-status Bereit
        table(class='playingCards faceImages')
          tr
            td(ng-repeat="cardval in cardvalues", ng-class="{'active': $index == selectedCard }", ng-click='sendScore(cardval, $index)')
              div(class="card hearts", ng-class="{'joker': cardval == 'Pause'}") {{cardval}}

      .clr
        p
        p Aktueller Benutzername: {{name}} 
          | (
          a(data-toggle="modal", data-target="#renameModal", ng-click="newName = name") Umbenennen?
          | )
        a(ng-click="disconnect()") Disconnect

    div.modal.fade#renameModal(role="dialog")
      div.modal-dialog(role="document")
        div.modal-content
          div.modal-header
            h4.modal-title Umbenennen
          div.modal-body
            p 
              | Current username: {{name}}
            p
              | new username: <br/>
              input.form-control(ng-model='newName')
          div.modal-footer
            button.btn.btn-secondary.pull-xs-left(data-dismiss="modal") Close
            button.btn.btn-primary(ng-click="changeName()", data-dismiss="modal") Rename

    include footer.jade
    include scripts.jade