extends layout

block body
  body
    div.container-fluid
      h1 Scrum Poker RT client
      div(ng-controller='AppCtrl')
        div(ng-show="!connection")
          a(ng-click="connect()") Connect
        div(ng-show="connection")
          div {{state}}
          div(ng-switch="state")
            div(ng-switch-when="lock") Locked
            div(ng-switch-default)
              table(class='playingCards faceImages')
                tr
                  td(ng-repeat="cardval in cardvalues", ng-class="{'active': $index == selectedCard }", ng-click='sendScore(cardval, $index)')
                    div(class="card hearts", ng-class="{'joker': cardval == 'PAUSE'}") {{cardval}}

        .clr
          h3 Change your name
          p Your current user name is {{name}}
          form(ng-submit='changeName()')
            input(ng-model='newName')
            input(type='submit', value='Change Name')
          p(ng-show="connection")
            a(ng-click="disconnect()") Disconnect

    include footer.jade
    include scripts.jade