extends layout

block body
  body.client(ng-controller='AppCtrl')
    nav.navbar.navbar-light.bg-faded
      .navbar-brand Scrumpoker RT
      form.form-inline.pull-xs-right.controlbuttons(ng-cloak="")
        div(ng-show="!connection")
          button.btn.btn-outline-success.eqWidth(ng-click="connect()") Connect
        div(ng-hide="!connection")
          button.btn.btn-outline-danger.eqWidth(ng-click='disconnect()') Disconnect
    div.container-fluid
      div(ng-show="connection", ng-class="{'cardsLocked': cardsLocked}")
        p(ng-class="{'serverConnected': serverConnected}")
          span(ng-show="serverConnected") Server: 
            span.server-status ok 
          span(ng-hide="serverConnected") Server: 
            span.server-status Lost 
          span
            | (
            a(ng-click="checkServer()") Check
            | ) 
          span(ng-show="cardsLocked") Status: 
            span.round-status Gesperrt 
          span(ng-hide="cardsLocked") Status: 
            span.round-status Bereit 
          
        div(class='playingCards faceImages', ng-class="{'selection': selectedCard >= 0}")
          div.cardBox(ng-repeat="cardval in cardvalues", ng-class="{'active': $index == selectedCard }", ng-click='sendScore(cardval, $index)')
              div(class="card", ng-class="{'joker': cardval == 'Pause'}") {{cardval}}

      .clr
        p
        p Aktueller Benutzername: {{name}} 
          | (
          a(data-toggle="modal", data-target="#renameModal", ng-click="newName = name") Umbenennen?
          | )

    div.modal.fade#renameModal(role="dialog")
      div.modal-dialog(role="document")
        div.modal-content
          div.modal-header
            h4.modal-title Umbenennen
          div.modal-body
            p 
              | Current username: {{name}}
            p
              | new username: <br/>
              input.form-control(ng-model='newName')
          div.modal-footer
            button.btn.btn-secondary.pull-xs-left(data-dismiss="modal") Close
            button.btn.btn-primary(ng-click="changeName()", data-dismiss="modal") Rename

    include footer.jade
    include scripts.jade