doctype
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    base(href='/')
    title Scrumpoker RT
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/cards.css')
    link(rel='stylesheet', href='/css/app.css')
  block body