doctype
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Scrumpoker RT
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/cards.css')
  body
    block body