extends layout

block body
  body.server(ng-controller='ServerCtrl')
    div.container-fluid
      nav.navbar.navbar-fixed-top.navbar-light.bg-faded
        .navbar-brand Scrumpoker RT
        form.form-inline.pull-xs-right.controlbuttons
          span(ng-show="locked")
            button.btn.btn-sm.btn-success.eqWidth(ng-click='setLock(false)') Unlock
          span(ng-hide="locked")
            button.btn.btn-sm.btn-danger.eqWidth(ng-click='setLock(true)') Lock
          span &nbsp;
          button.btn.btn-sm(ng-class="{'btn-outline-success': sidebar, 'btn-outline-danger': !sidebar}", ng-click='sidebar = !sidebar') 
            | History
          span &nbsp;
          span(ng-show="autoUnlock")
            button.btn.btn-sm.btn-outline-success(ng-click='autoUnlock = false', data-toggle="tooltip", data-placement="bottom", title="Click to disable Auto Unlock")
              | Auto Unlock
          span(ng-hide="autoUnlock")
            button.btn.btn-sm.btn-outline-danger(ng-click='autoUnlock = true', data-toggle="tooltip", data-placement="bottom", title="Click to enable Auto Unlock")
              | Auto Unlock
          span &nbsp;
          span
            button.btn.btn-sm.btn-outline-primary(data-toggle="modal", data-target="#qrcodeModal", ng-click="generateQR()")
              | QR Code
      h1 Scrum Poker RT
      div(class="server playingCards faceImages")
        div(class="wrapper")
          div(class="main")
            div(ng-show="state == 'finished'", class="active wincard")
              div(class="card", ng-class="{'joker': winScore == 'Pause'}") {{winScore}}
          div(ng-show="sidebar == true", class="sidebarRight")
              table(class="sidebar")
                tr(ng-repeat="scores in scoreHistory")
                  td
                    div [Round {{scores.round}}]
                    span(ng-repeat='user in scores.users')
                      span {{user.name}}:&nbsp;{{user.score}} &nbsp;
                    hr

        table(class="servercardtable")
          tr
            td(ng-repeat='user in users')
              div(ng-switch="state")
                div(ng-switch-when='finished', class="active")
                  div(class="card", ng-class="{'joker': user.score == 'Pause'}") {{user.score}}
                div(ng-switch-when='picking')
                  div(ng-switch="user.scored")
                    div(ng-switch-when="true", class="active")
                      div(class="card back")
                    div(ng-switch-default)
                      div(class="card back")
          tr
            td(ng-repeat='user in users') 
              |{{user.name}} <br />
              a(ng-click="kickUser(user.name)") (kick)
    div.modal.fade#qrcodeModal(role="dialog")
      div.modal-dialog(role="document")
        div.modal-content
          div.modal-header
            h4.modal-title Client QR Code
          div.modal-body
            div#qrcode
          div.modal-footer
            button.btn.btn-secondary.pull-xs-left(data-dismiss="modal") Close

    include footer.jade
    include scripts.jade