/* app css stylesheet */

.wincard {
    font-size: 50px;
    margin-top: 80px;
    text-align: center;
}

.servercardtable {
    position: fixed;
    bottom: 10px;
}

table.score td {
    width: 100px;
    border: 1px solid green;
}

.server.playingCards td {
    padding-top: 1em;
}

.playingCards .active .card {
    bottom: 1em;
}

.clr {
  clear: both;
}