/* app css stylesheet */

.wincard {
    font-size: 50px;
    margin-top: 80px;
    text-align: center;
}

.wrapper {
    width: 100%;
}

.main {
    width: 50%;
}

.sidebarRight {
    float: right;
    height: 500px;
    overflow: scroll;
}

.servercardtable {
    position: fixed;
    bottom: 10px;
}

table.score td {
    width: 100px;
    border: 1px solid green;
}

.server.playingCards td {
    padding-top: 1em;
}

.playingCards .active .card {
    bottom: 1em;
}

table.sidebar {
    width: 300px;
}
table.sidebar tr td span span {
}


.clr {
  clear: both;
}

.footernote {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
}