body.server {
    background: url(backgrounds/OCCN630_lighter2.jpg);
}

/* to align sm buttons in middle of navbar */
.server .controlbuttons {
    line-height: 35px;
}

.client .controlbuttons button.eqWidth {
    min-width: 120px;
}

.server .controlbuttons button.eqWidth {
    min-width: 75px;
}

.navbar-brand {
    background: url(scrumpoker-rt-black.png) center / contain no-repeat;
    background-position-x: left;
    padding-left: 50px;
}

.wincard {
    font-size: 50px;
    margin-top: 80px;
    text-align: center;
}

.wrapper {
    width: 100%;
}

.main {
    width: 50%;
}

.sidebarRight {
    float: right;
    height: 500px;
    overflow: scroll;
}

.servercardtable {
    position: fixed;
    bottom: 10px;
}

table.score td {
    width: 100px;
    border: 1px solid green;
}

.playingCards .cards {
    color: #f00;
}

.server.playingCards td {
    text-align: center;
}

/* draw cards a little smaller than at server */
.client .playingCards .cardBox {
    float: left;
}
.client .playingCards .card {
    font-size: 1.0em;
}
@media (min-width: 544px) {
    .client .playingCards .card {
        font-size: 1.2em;
    }
}
@media (min-width: 768px) {
    .client .playingCards .card {
        font-size: 1.3em;
    }
}
@media (min-width: 992px) {
    .client .playingCards .card {
        font-size: 1.4em;
    }
}
.server .playingCards .card {
    font-size: 1.2em; /*default */
}

/* class for cards when some card is selected (active) */
.client .playingCards.selection .card {
    background-color: #f2f2f2;
    color: dimgray;
}

/* class for cards when not allowed to play */
.client .cardsLocked .card,
.client .cardsLocked .selection .card {
    cursor: not-allowed;
    background-color: #d3d3d3;
    color: dimgray;
}

.client .playingCards .active .card {
    /* move card up */
    bottom: 1em;
    /* Other Border Color */
    border: 1px solid darkgreen;
    background-color: white;
    /* change icon */
    /*
    background-image: url(icons/1476579698_checklist.png);
    background-size: 33%;
    background-position: 50% 75%;
    background-repeat: no-repeat;
    */
}
.server .playingCards .active .card {
    /* move card up */
    bottom: 1em;
}

.playingCards .card.back {
    background-image: -webkit-gradient(radial, center center, 20, center center, 80, from(#82b1ff), color-stop(0.8, #2962ff), to(#030));
}

.playingCards.faceImages .card.joker {
    background-image: url(faces/cup.png);
    background-size: 75%;
    background-position: 30% 75%;
    background-repeat: no-repeat;
} 

.round-status {
    color: green;
}  
.cardsLocked .round-status {
    color: red;
}  

table.sidebar {
    width: 300px;
}

.clr {
  clear: both;
}

.footernote {
    font-size: 10px;
    color: darkgrey;
    position: fixed;
    bottom: 5px;
    right: 10px;
    text-align: right;
}
.footernote a {
    color: darkslategray;
}